<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.n810.TextRecognition">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/updated_playstore_icon"
        android:label="Text Recognizer"
        android:roundIcon="@mipmap/updated_playstore_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextRecognition">
        <activity android:name="com.n810.textrecognition.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.n810.textrecognition.ResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr"
            />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.n810.TextRecognizer.com.n810.textrecognition.MainActivity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>